# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Environment
.venv/
venv/
.env
.env.*

# Databases
instance/
*.sqlite3
*.db

# Logs
*.log

# Caches
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# IDE/OS
.vscode/
.idea/
.DS_Store